/* body{background-color:#000;color:#fff}
.container{background-color:#252525}.gnb{height:120px;background-color:#1c1c1c}
.gnb-row{padding:0 80px;display:flex;align-items:center;height:100%}
.gnb-logo img{max-width:152px}
.gnb-menu{flex:1;text-align:right;font-size:20px;font-weight:200}
.gnb-menu a{margin:0 30px}
.gnb-menu a:hover,.gnb-menu a:focus{color:#f40036}
.gnb-menu a.is-active{color:#f40036}
.gnb-line{margin:0 30px;display:inline-block;width:1px;height:18px;background-color:#b3babf;vertical-align:middle}
.gnb-auth{font-weight:bold}
.gnb-auth a{position:relative;margin:0 30px}
.gnb-auth a:last-child{margin-right:0}.gnb-auth a .circle{position:absolute;top:0;right:-12px}
.gnb-auth .circle{display:inline-block;width:6px;height:6px;background-color:#f40036;border-radius:50%}
.menu{position:relative;background-color:#252525;color:#a2a2a2;font-size:20px;z-index:1}.menu-list{display:flex;height:70px}
.menu-item{flex:1;height:100%;background-color:#252525}
.menu-link{position:relative;display:flex;align-items:center;justify-content:center;width:100%;height:100%}.menu-link span{position:relative;top:0;z-index:1;transition:top 0.2s}
.menu-link::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;background-color:#f40036;opacity:0;transition:opacity 0.2s}
.is-active .menu-link,.menu-link:hover{font-weight:bold;color:#fff}
.is-active .menu-link span,.menu-link:hover span{top:10px}
.is-active .menu-link::after,.menu-link:hover::after{opacity:1;bottom:-20px}
.cover{position:relative;display:flex;height:220px;background-color:#1c1c1c;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;align-items:center;justify-content:center}
.cover-title{font-size:60px;font-weight:bold}
.cover-breadcrumb{position:absolute;top:36px;left:50%;padding-right:16px;max-width:1200px;width:100%;transform:translateX(-50%);font-size:16px;text-align:right;opacity:0.5}
.cover-breadcrumb a::after{content:' > '}
.cover-breadcrumb a:last-child::after{display:none}
.content{margin:0 auto;padding:80px 16px;max-width:1200px;width:100%}.tab{background-color:#1c1c1c;border-bottom:1px solid #3f3f3f;color:#939393;font-size:18px}
.tab-row{margin:0 auto;display:flex;max-width:1200px;height:60px}
.tab-link{position:relative;flex:0 0 33.33%;max-width:33.33%;display:flex;align-items:center;justify-content:center}
.tab-link.is-active,.tab-link:hover{color:#fff}
.tab-link.is-active{font-weight:bold}
.tab-link.is-active::after{content:'';position:absolute;left:0;right:0;bottom:-1px;height:2px;background-color:#fff}
.tab .icon{display:inline-block;vertical-align:middle;margin-top:-4px}.tab .icon-crown{margin-right:14px;width:19px;height:16px;background:url(../img/icon_crown.png) no-repeat 0 0}
.is-active .icon-crown{background-image:url(../img/icon_crown02.png)}

.title-group{margin-bottom:32px;display:flex;font-size:20px}
.title-group-col.col-auto{flex:1}
.title-group-col img{margin-right:24px;vertical-align:middle}
.title-group-text{margin-bottom:20px;font-size:50px;color:#f40036}
.title-group-text>*{display:inline-block;vertical-align:middle}
.section{margin:50px 0;padding:30px 0 0;border-top:1px solid #2e2e2e}
.section-title{margin-bottom:16px;font-weight:bold;font-size:20px}
.section .round-text{position:relative;display:flex;align-items:center;justify-content:flex-end;min-height:100%;padding:14px 28px;background-color:#242424;border:1px solid #333;border-radius:10px;color:#939393;text-align:right;line-height:1.4}
.section .round-text small{position:absolute;top:50%;left:28px;font-weight:500;color:#f40036;transform:translateY(-50%)}
.list{margin:0 -16px;display:flex;flex-wrap:wrap}
.list-item{flex:0 0 33.33%;max-width:33.33%;padding:14px 16px}.list-2 .list-item{flex:0 0 50%;max-width:50%}

.headline{margin-bottom:80px;display:flex;height:380px}
.headline-col{flex:1;position:relative}
.headline-content{position:absolute;top:0;right:0;bottom:-32px;left:0;display:flex;flex-direction:column;justify-content:flex-end;padding:40px 50px;background:#f40036;background:linear-gradient(145deg, #f40036 24%, #a30093 100%);line-height:1.4}
.headline-video{position:relative;display:flex;align-items:center;justify-content:center;position:relative;height:100%;background-repeat:no-repeat;background-size:cover;background-position:50%}
.headline-video iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.headline-video .btn-play{outline:none}
.headline-video .btn-play:active{opacity:0.9}
.headline-title{margin-bottom:20px;font-size:32px;font-weight:bold}
.headline-text{font-size:18px}
.prepare-title{padding:100px;font-size:22px;text-align:center;color:#939393}
.prepare-title::before{content:'';margin:0 auto;margin-bottom:56px;display:block;width:146px;height:24px;background:url(../img/img_ellipsis.png) no-repeat 0 0}

.mypage{position:relative}
.mypage-breadcrumb{position:absolute;top:0;left:50%;padding-right:16px;max-width:1200px;width:100%;transform:translateX(-50%);font-size:16px;text-align:right;opacity:0.5}
.mypage-breadcrumb a::after{content:' > '}
.mypage-breadcrumb a:last-child::after{display:none}
.mypage-header{padding-bottom:20px}
.mypage-header .title{font-size:32px;font-weight:bold}
.mypage-section{position:relative;margin-bottom:-1px;padding:50px 0;border-top:1px solid #737373;border-bottom:1px solid #737373}.mypage-section:last-child{border:none}
.mypage-section .title{margin-bottom:32px;font-size:22px;font-weight:bold}
.mypage-section .btn-leave{position:absolute;top:50px;right:0}
.mypage-section .btn{display:inline-flex;justify-content:center;align-items:center;margin-right:18px;min-width:220px;min-height:60px;background-color:#676767;color:#c2c2c2;border-radius:30px;border:none;font-size:22px;font-weight:600;cursor:pointer}
.mypage-section .btn-active{background-color:#fff;color:#000}
.mypage-section .btn-leave{background-color:#101010;color:#585858}
.mypage .field{display:flex;font-size:20px}
.mypage .field-title{min-width:150px}
.mypage .field-text{color:#939393}
.mypage .service{margin:50px 0;border-top:1px solid #3f3f3f}
.mypage .service:first-of-type{border-top:none}
.mypage .service:last-of-type{margin-bottom:0}
.mypage .service-header{margin:50px 0}
.mypage .service-header .label{margin:0 8px}
.mypage .service-title{margin-right:20px;display:inline-block;vertical-align:middle;font-size:28px;font-weight:500}
.mypage .progress{position:relative;margin:50px 0;height:24px;background-color:#3f3f3f;border-radius:12px;--pecent: 0%;--circle-bg: #f40036;--circle-color: #fff;--offset-x: -20px}
.mypage .progress-0{--offset-x: 0;--pecent: 0%;--circle-bg: #3d3d3d;--circle-color: #515151}
.mypage .progress-1{--pecent: 8.33%}
.mypage .progress-2{--pecent: 16.66%}
.mypage .progress-3{--pecent: 25%}
.mypage .progress-4{--pecent: 33.33%}.mypage .progress-5{--pecent: 41.66%}
.mypage .progress-6{--pecent: 50%}
.mypage .progress-7{--pecent: 58.33%}
.mypage .progress-8{--pecent: 66.66%}
.mypage .progress-9{--pecent: 75%}.mypage .progress-10{--pecent: 83.33%;}
.mypage .progress-11{--pecent: 91.66%;}
.mypage .progress-12{--pecent: 100%;}
.mypage .progress-bar{position:absolute;top:0;left:0;height:24px;width:var(--pecent);background:#840065;background:linear-gradient(90deg, #840065 0%, #dc0038 100%);border-radius:12px;transition:width 0.2s}
.mypage .progress-circle{position:absolute;top:50%;left:var(--pecent);transform:translate(var(--offset-x), -50%);width:40px;height:40px;border-radius:50%;background-color:var(--circle-bg);box-shadow:0 11px 27px rgba(0,0,0,0.8);z-index:1;transition:left 0.2s}
.mypage .progress-circle::after{content:'';position:absolute;top:10px;right:10px;bottom:10px;left:10px;background-color:var(--circle-color);border-radius:50%}
.mypage .progress-pattern{position:absolute;top:0;left:0;width:100%;height:24px;display:flex;align-items:space-between;border-radius:12px}
.mypage .progress-pattern .circle{flex:1;background:url(../img/dot_circle.png) no-repeat 92% 50%}@media (max-width: 960px){.nav{display:block}
.btn-menu{top:8px;right:8px}
.gnb{position:fixed;top:0;left:0;right:0;height:60px;background-color:rgba(28,28,28,0.8);-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px);z-index:2}
.header{padding-top:60px}
.gnb-row{padding:0 16px}.gnb-menu,.gnb-line,.gnb-auth{display:none}
.gnb-logo img{width:78px}
.menu-list{flex-wrap:wrap;font-size:16px;height:auto}
.menu-item{flex:0 0 50%;height:46px}
.menu-link::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;background-color:#f40036;opacity:0;transition:opacity 0.2s}
.is-active .menu-link span,.menu-link:hover span{top:0}.is-active .menu-link::after,.menu-link:hover::after{bottom:0}
.cover{height:110px}
.cover-title{font-size:30px}
.cover-breadcrumb{padding-right:0;top:14px;left:auto;right:14px;transform:translate(0);width:100%;font-size:12px}
.tab{font-size:14px}
.tab-row{display:flex;height:auto;flex-wrap:wrap;max-width:none}
.tab-link{margin-bottom:-1px;flex:0 0 50%;max-width:50%;height:40px;border-bottom:1px solid #3f3f3f}
.tab-link.is-active,.tab-link:hover{color:#fff}
.tab-link.is-active{font-weight:bold}
.tab-link.is-active::after{content:'';position:absolute;left:0;right:0;bottom:-1px;height:2px;background-color:#fff}
.content{padding:40px 16px;overflow:hidden}
.title-group{margin-bottom:32px;display:block;font-size:16px}.title-group-text{margin-bottom:20px;font-size:25px}
.title-group-text img{width:36px}
.title-group .btn-kakao{margin-top:14px}
.section{margin:26px 0;padding:26px 0 0}
.section-title{margin-bottom:12px;font-size:16px}
.section .round-text{padding:10px 14px;padding-left:40px;border-radius:6px;line-height:1.2;font-size:12px}
.section .round-text br{display:none}.section .round-text small{left:14px}
.list{margin:0 -6px}
.list-item{flex:0 0 50%;max-width:50%;padding:6px}
.list-2 .list-item{flex:0 0 100%;max-width:100%}
.headline{margin-bottom:25px;display:block;height:auto}
.headline-col{padding-top:calc(325 / 580 * 100%)}
.headline-content{left:16px;right:-16px;bottom:0;padding:18px;justify-content:center}
.headline-video{position:absolute;top:0;right:0;bottom:0;left:0}
.headline-video .btn-play{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:40px;height:40px;background-size:cover}
.headline-video .btn-play:active{opacity:0.9}
.headline-title{margin-bottom:14px;font-size:20px}
.headline-text{font-size:14px}
.prepare-title{font-size:16px}.prepare-title::before{content:'';margin-bottom:32px;width:73px;height:12px;background-size:100%}

.mypage{padding-top:40px}
.mypage-breadcrumb{font-size:12px}
.mypage-header{padding-bottom:10px}.mypage-header .title{font-size:18px}
.mypage-section{padding:25px 0}
.mypage-section .title{margin-bottom:16px;font-size:14px}
.mypage .btn{min-width:110px;min-height:36px;font-size:14px}
.mypage .btn-leave{margin-right:0;top:12px}
.mypage .field{font-size:12px}
.mypage .service{margin:25px 0}
.mypage .service-header{margin:25px 0}.mypage .service-header .label{margin:0 2px}
.mypage .service-header .label:first-of-type{margin-left:0}
.mypage .service-title{display:block;margin-bottom:10px;margin-right:0;font-size:16px}
.mypage .service-action{display:flex;flex-wrap:wrap}
.mypage .service-action .btn{margin:5px;flex:0 0 calc(50% - 10px)}
.mypage .progress{position:relative;margin:25px 0;height:14px;background-color:#3f3f3f;border-radius:7px;--offset-x: -8px}
.mypage .progress-bar{position:absolute;top:0;left:0;height:14px;width:var(--pecent);background:#840065;background:linear-gradient(90deg, #840065 0%, #dc0038 100%);border-radius:7px;transition:width 0.2s}
.mypage .progress-circle{width:20px;height:20px;border-radius:50%;box-shadow:0 6px 14px rgba(0,0,0,0.8)}
.mypage .progress-circle::after{top:5px;right:5px;bottom:5px;left:5px}
.mypage .progress-pattern{height:14px;border-radius:6px}
.mypage .progress-pattern .circle{background-size:5px}}
.privacy-title{padding:6%;line-height:24px;font-size:20px;text-align:left;color:#939393} */

/* 이미지 로고 아이콘 네모 */
/* .icon-img-list{margin-top:10px;}
.icon-img-list li{display:inline-block;height:82px;margin-right:10px;margin-top:10px;border:2px solid #737373}
.icon-img-list li img{height:100%;} */

body{background-color:#000;color:#fff}.bi{display:inline-block;position:relative;top:-218px;left:-132px;width:426px;height:426px}.bi::before{content:'';position:absolute;top:0;left:0;width:426px;height:426px;background:#ba0078;background:linear-gradient(45deg, #ba0078 0%, #f40036 100%);border-radius:50%;-webkit-animation:rotating 2s linear infinite;animation:rotating 2s linear infinite;transition:all 0.3s;overflow:hidden}.bi:hover::before{transform:scale(1.1)}.bi a{position:absolute;right:60px;bottom:120px;z-index:1}.bi a img{max-width:154px}.wrapper{overflow:hidden}.header{position:relative;min-height:476px}.header-top{position:absolute;top:0;left:50%;width:100%;height:0;transform:translate(-50%, 0);z-index:2}.swiper-inner{position:absolute;left:50%;bottom:100px;max-width:1360px;width:100%;transform:translateX(-50%);z-index:1}.swiper-control{position:absolute;left:80px;display:flex}.swiper-button-prev,.swiper-button-next{position:static;margin-top:inherit;padding:0 36px;width:auto;height:auto;color:inherit}.swiper-button-prev::after,.swiper-button-next::after{font-size:28px}.swiper-button-prev{padding-left:0}.swiper-button-next{padding-right:0}.swiper-slide{height:476px;background-size:cover;background-repeat:no-repeat;background-position:50%}.swiper-slide::before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5)}.swiper-slide::after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background:#000;background:linear-gradient(0deg, #000 0%, rgba(0,0,0,0) 80%)}.swiper-slide .box{position:absolute;left:50%;bottom:140px;margin:0 auto;padding:0 80px;max-width:1360px;width:100%;transform:translate(-50%, 0);line-height:1.4;z-index:1}.swiper-slide .box-img{margin-bottom:90px}.swiper-slide .box-title{font-size:40px;font-weight:bold;color:#ff1448}.swiper-slide .box-text{margin-top:14px;font-size:20px}.swiper-pagination{position:static}.swiper-pagination-bullet{width:106px;height:26px;background:none;border-radius:0;border-bottom:1px solid #fff;opacity:0.2;text-align:left;cursor:pointer}.swiper-pagination-bullet-active{border-width:3px;opacity:1}.section{position:relative;line-height:1.4;z-index:1}.section-inner{display:flex;flex-direction:row;margin:0 auto;max-width:1360px;width:100%;padding:0 80px}.section-box{padding:40px 20px;flex:1;display:flex;flex-direction:column;font-size:24px}.section-box:first-child{padding-left:0}.section-box:last-child{padding-right:0}.section-title{font-size:20px;font-weight:bold;line-height:1}.section-title sup{display:block;margin-bottom:12px}.section-title span{font-size:32px}.section-text{margin-top:24px;font-size:16px}.section-01{min-height:585px;background:#f40036;background:linear-gradient(145deg, #f40036 24%, #a30093 100%)}.section-01 .section-row{display:flex}.section-01 .section-img{margin-bottom:32px;position:relative}.section-01 .section-img img{max-width:100%}.section-01 .btn{margin-top:32px}@-webkit-keyframes rotating{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}@keyframes rotating{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}@media (max-width: 960px){img{max-width:100%}.bi{top:-111px;left:-75px;width:200px;height:200px}.bi::before{width:200px;height:200px}.bi img{width:68px}.bi a{right:42px;bottom:56px}.header{min-height:300px}.swiper-slide{height:300px}.swiper-slide .box{padding:0 12px;bottom:88px}.swiper-slide .box-img{max-width:220px;margin-bottom:60px}.swiper-slide .box-title{font-size:24px}.swiper-slide .box-text{margin-top:12px;font-size:16px}.swiper-inner{top:auto;bottom:58px}.swiper-button-prev,.swiper-button-next{padding:0 12px}.swiper-button-prev::after,.swiper-button-next::after{font-size:24px}.swiper-control{left:0;right:auto;width:100%}.swiper-pagination{flex:1;display:flex}.swiper-pagination-bullet{width:100%;flex:1}.section-inner{display:block}.section-title{font-size:18px}.section-title sup{margin-bottom:10px}.section-title span{font-size:24px}.section-text{margin-top:12px;font-size:14px}.section-01{height:auto}.section-01 .section-row{flex-direction:column;flex-wrap:wrap}.section-01 .section-inner{padding:16px}.section-01 .section-img{margin-bottom:16px}.section-01 .section-box{flex:1;display:block;padding:0;margin-top:0}.section-01 .section-box:first-child{margin-bottom:30px}.section-01 .btn{margin-top:16px}.section-02{padding:80px 0 80px 26px}.section-02 .section-inner{padding:30px;border-right:none}.section-02 .section-img{top:-65px;margin:0 -30px -30px 0}.section-02 .btn{margin-top:38px}}


/* 이미지 로고 아이콘 동그라미 */
.icon-img-list li{overflow:hidden;position:relative;display:inline-block;width:82px;height:82px;margin-right:10px;margin-top:10px;border:2px solid #737373;border-radius:50%}
.icon-img-list li img{position:absolute;left:50%;top:50%;width:auto;height:100%;transform:translate(-50%,-50%)}
.clan-info .info-item .info-active{background-color:#ffd21f}
.clan-info .info-item .input-form{padding:10px;width:100%;background-color:#1c1c1c;border:1px solid #333;color:#fff}
.clan-info .info-item .input-form2{padding:10px;width:50px;margin-left:10px;background-color:#1c1c1c;border:1px solid #333;color:#fff}
.clan-info-section .input-area {background-color:#1c1c1c;border:1px solid #333;color:#fff}
/* .search-form .form-field-item input{padding:12px 16px;width:100%;background-color:#1c1c1c;border:1px solid #333;color:#fff} */



/* .clan-info .info-item dt{background-color:#ffd21f} */
